<div class="row" style="margin-left:-35px">
    <div class="col-sm-8">
        <div class="panel-default">
            <div class="panel-heading">
                <h2 class="text-center">房间名:{{room.name}}</h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="message in room.messages track by $index" class="list-group-item">
                        <img ng-src="{{message.user.avatar}}" width="28" height="28" >
                        姓名:{{message.user.email}}

                        {{message.content}}
                        <span class="pull-right">{{message.createAt}}</span>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <textarea  ng-keyup="key($event)" class="form-control" ng-model="content" name="content" id="content" cols="30" rows="10">

                </textarea>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel-default">
            <div class="panel-heading">
                <h2 class="text-center">用户列表</h2>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li ng-repeat="user in room.users track by $index" class="list-group-item">
                        <img ng-src="user.avatar" alt="">
                        {{message.user.email}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>